<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="br.com.dina.ui.example"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Example1Activity" android:label="@string/app_name"  />
		<activity android:name=".Example2Activity" android:label="@string/app_name"  />
		<activity android:name=".Example3Activity" android:label="@string/app_name"  />
		<activity android:name=".Example4Activity" android:label="@string/app_name"  />
		<activity android:name=".Example5Activity" android:label="@string/app_name"  />
		<activity android:name=".Example6Activity" android:label="@string/app_name"  />
		<activity android:name=".Example7Activity" android:label="@string/app_name"  />
    </application>
</manifest>